<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="/logo.gif">
    </a>
    <h1>SMS Pigeon</h1>
    <p>A Maps Service for the Dataless Travellers.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Inspiration</h3>
      <p>Designing a simple solution to a likely overlooked problem for many.</p>
      <h3>What it does</h3>
      <p>SMS Pigeon's goal is simple. Not everyone has the luxury to have mobile plans with data to use Google Maps, especially if someone is travelling in a different country where data roaming plans are unaffordable. When SMS (texting) is all you have on hand, SMS Pigeon comes to the rescue by replying to your text query in simple format with step by step navigation directions to your destination.
    </p>
      <h3>How we built it</h3>
      <p>SMS Pigeon was built in NodeJS using mainly two APIs: Twilio and Google Maps Directions API. Using an Express server in NodeJS, the Twilio API allows the server to listen for SMS messages sent to the Twilio associated number conveniently chosen as +1-438-795-MAPS(6277). Afterwards, using the Google Maps Directions API, the user query is parsed for specific keywords and sent to request the navigation directions which is then pushed back to the user in a bullet point step-by-step list.
    </p>
      <h3>Challenges we ran into</h3>
      <p>Many... Since 3/4 of our team were introduced to NodeJS for the very first time during this project, a lot of new skills were learned and hair was pulled. Specifically, although the Twilio API was well documented, the integration of a backend server using Express and trying to incorporate the Google Maps Directions API together presented more of an obstacle than we all first assumed. It's the little things that get you!
    </p>
    <h3>Accomplishments that we're proud of</h3>
    <p>Completely new environment was learned for most of us, were able to finalize our minimal viable project and for that we are very pleased. Although we would of loved to have incorporated the speech to text transcription features within the Twilio API to allow users to ask their query vocally, we ran out of time.
    </p>
      <h3>What we learned</h3>
      <p>NodeJS, what is an API, what can we do with all these things, and how we can make use of it to build something that actually works.
    </p>
      <h3>What's next for SMS Pigeon</h3>
      <p><input type="checkbox" disabled="disabled" checked="checked"> Deploy on Heroku</p>
      <p><input type="checkbox" disabled="disabled"> Enhancing the text parsing to be less verbose</p>
      <p><input type="checkbox" disabled="disabled"> Integrate Twilio's speech to text API functionalities.</p>
      <h3>Built with</h3>
      <ul>
          <code>node.js</code>, 
          <code>javascript</code>, 
          <code>twilio</code>, 
          <code>google-directions-api</code>
      </ul>
      <h3>Usage</h3>
      <div class="imageContainer">
          <table>
            <tr>
                <td class="item">
                    <img class="img-responsive" src="/screenshot-help.jpg" width="300">
                    <em>Getting some help</em>
                </td>
                <td class="item">
                    <img class="img-responsive" src="/screenshot-to-from.jpg" width="300">
                    <em>Basic map directions query</em>
                </td>
                <td class="item">
                    <img class="img-responsive" src="/screenshot-to-from-by.jpg" width="300">
                    <em>Basic map directions query with transportation mode</em>
                </td>
            </tr>
          </table>
          
        </div>

    </div>
  </div> <!-- row -->
</div>


</body>
</html>
